<ul class="nav flex-sm-column">
  <li class="nav-item"><a href="index.html" class="nav-link">1.Home</a></li>
  <li class="nav-item"><a href="button.html" class="nav-link">2.Button</a></li>
  <li class="nav-item"><a href="form.html" class="nav-link">3.Form</a></li>
  <li class="nav-item"><a href="wikis.html" class="nav-link">4.Wikis</a></li>
  <li class="nav-item"><a href="article.html" class="nav-link">5.Article</a></li>
  <li class="nav-item"><a href="loading.html" class="nav-link">6.Loading</a></li>
  <li class="nav-item"><a href="table.html" class="nav-link">7.Table</a></li>
  <li class="nav-item"><a href="alert.html" class="nav-link">8.Alert</a></li>
  <li class="nav-item"><a href="chips.html" class="nav-link">9.Chips</a></li>
  <li class="nav-item"><a href="icon.html" class="nav-link">10.Icon</a></li>
  <li class="nav-item"><a href="pagination.html" class="nav-link">11.Pagination</a></li>
  <li class="nav-item"><a href="image.html" class="nav-link">12.Image</a></li>
  <li class="nav-item"><a href="popover.html" class="nav-link">13.Popover</a></li>
  <li class="nav-item"><a href="timeline.html" class="nav-link">14.Timeline</a></li>
  <li class="nav-item"><a href="aside.html" class="nav-link">15.Aside</a></li>
  <li class="nav-item"><a href="product.html" class="nav-link">16.Product</a></li>
  <li class="nav-item"><a href="type.html" class="nav-link">17.Type</a></li>
  <li class="nav-item"><a href="avatar.html" class="nav-link">18.Avatar</a></li>
  <li class="nav-item"><a href="core.html" class="nav-link">19.Core</a></li>
  <li class="nav-item"><a href="layout.html" class="nav-link">20.Layout</a></li>
  <li class="nav-item"><a href="progress.html" class="nav-link">21.Progress</a></li>
  <li class="nav-item"><a href="utilities.html" class="nav-link">22.Utilities</a></li>
  <li class="nav-item"><a href="badge.html" class="nav-link">23.Badge</a></li>
  <li class="nav-item"><a href="dropdown.html" class="nav-link">24.Dropdown</a></li>
  <li class="nav-item"><a href="link.html" class="nav-link">25.Link</a></li>
  <li class="nav-item"><a href="social.html" class="nav-link">26.Social</a></li>
  <li class="nav-item"><a href="variables.html" class="nav-link">27.Variables</a></li>
  <li class="nav-item"><a href="breadcrumb.html" class="nav-link">28.Breadcrumb</a></li>
  <li class="nav-item"><a href="example.html" class="nav-link">29.Example</a></li>
  <li class="nav-item"><a href="list-group.html" class="nav-link">30.List Group</a></li>
  <li class="nav-item"><a href="sparkline.html" class="nav-link">31.Sparkline</a></li>
  <li class="nav-item"><a href="forms.html" class="nav-link">32.Forms</a></li>
  <li class="nav-item"><a href="button.html" class="nav-link">33.Button</a></li>
  <li class="nav-item"><a href="footer.html" class="nav-link">34.Footer</a></li>
  <li class="nav-item"><a href="list.html" class="nav-link">35.List</a></li>
  <li class="nav-item"><a href="stamp.html" class="nav-link">36.Stamp</a></li>
  <li class="nav-item"><a href="index.html" class="nav-link">37.Index</a></li>
  <li class="nav-item"><a href="cards.html" class="nav-link">38.Cards</a></li>
  <li class="nav-item"><a href="statuses.html" class="nav-link">39.Statuses</a></li>
  <li class="nav-item"><a href="carousel.html" class="nav-link">40.Carousel</a></li>
  <li class="nav-item"><a href="functions.html" class="nav-link">41.Functions</a></li>
  <li class="nav-item"><a href="maps.html" class="nav-link">42.Maps</a></li>
  <li class="nav-item"><a href="syntax.html" class="nav-link">43.Syntax</a></li>
  <li class="nav-item"><a href="charts.html" class="nav-link">44.Charts</a></li>
  <li class="nav-item"><a href="grid.html" class="nav-link">45.Grid</a></li>
  <li class="nav-item"><a href="media.html" class="nav-link">46.Media</a></li>
  <li class="nav-item"><a href="tables.html" class="nav-link">47.Tables</a></li>
  <li class="nav-item"><a href="chat.html" class="nav-link">48.Chat</a></li>
  <li class="nav-item"><a href="header.html" class="nav-link">49.Header</a></li>
  <li class="nav-item"><a href="nav.html" class="nav-link">50.Nav</a></li>
  <li class="nav-item"><a href="tag.html" class="nav-link">51.Tag</a></li>
</ul>

