<ul class="nav flex-sm-column">
  <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
  <li class="nav-item"><a href="button.html" class="nav-link">Button</a></li>
  <li class="nav-item"><a href="form.html" class="nav-link">Form</a></li>
  <li class="nav-item"><a href="wikis.html" class="nav-link">Wikis</a></li>
  <li class="nav-item"><a href="article.html" class="nav-link">Article</a></li>
  <li class="nav-item"><a href="loading.html" class="nav-link">Loading</a></li>
  <li class="nav-item"><a href="table.html" class="nav-link">Table</a></li>
  <li class="nav-item"><a href="alert.html" class="nav-link">Alert</a></li>
  <li class="nav-item"><a href="chips.html" class="nav-link">Chips</a></li>
  <li class="nav-item"><a href="icon.html" class="nav-link">Icon</a></li>
  <li class="nav-item"><a href="pagination.html" class="nav-link">Pagination</a></li>
  <li class="nav-item"><a href="image.html" class="nav-link">Image</a></li>
  <li class="nav-item"><a href="popover.html" class="nav-link">Popover</a></li>
  <li class="nav-item"><a href="timeline.html" class="nav-link">Timeline</a></li>
  <li class="nav-item"><a href="aside.html" class="nav-link">Aside</a></li>
  <li class="nav-item"><a href="product.html" class="nav-link">Product</a></li>
  <li class="nav-item"><a href="type.html" class="nav-link">Type</a></li>
  <li class="nav-item"><a href="avatar.html" class="nav-link">Avatar</a></li>
  <li class="nav-item"><a href="core.html" class="nav-link">Core</a></li>
  <li class="nav-item"><a href="layout.html" class="nav-link">Layout</a></li>
  <li class="nav-item"><a href="progress.html" class="nav-link">Progress</a></li>
  <li class="nav-item"><a href="utilities.html" class="nav-link">Utilities</a></li>
  <li class="nav-item"><a href="badge.html" class="nav-link">Badge</a></li>
  <li class="nav-item"><a href="dropdown.html" class="nav-link">Dropdown</a></li>
  <li class="nav-item"><a href="link.html" class="nav-link">Link</a></li>
  <li class="nav-item"><a href="social.html" class="nav-link">Social</a></li>
  <li class="nav-item"><a href="variables.html" class="nav-link">Variables</a></li>
  <li class="nav-item"><a href="breadcrumb.html" class="nav-link">Breadcrumb</a></li>
  <li class="nav-item"><a href="example.html" class="nav-link">Example</a></li>
  <li class="nav-item"><a href="list-group.html" class="nav-link">List Group</a></li>
  <li class="nav-item"><a href="sparkline.html" class="nav-link">Sparkline</a></li>
  <li class="nav-item"><a href="forms.html" class="nav-link">Forms</a></li>
  <li class="nav-item"><a href="button.html" class="nav-link">Button</a></li>
  <li class="nav-item"><a href="footer.html" class="nav-link">Footer</a></li>
  <li class="nav-item"><a href="list.html" class="nav-link">List</a></li>
  <li class="nav-item"><a href="stamp.html" class="nav-link">Stamp</a></li>
  <li class="nav-item"><a href="index.html" class="nav-link">Index</a></li>
  <li class="nav-item"><a href="cards.html" class="nav-link">Cards</a></li>
  <li class="nav-item"><a href="statuses.html" class="nav-link">Statuses</a></li>
  <li class="nav-item"><a href="carousel.html" class="nav-link">Carousel</a></li>
  <li class="nav-item"><a href="functions.html" class="nav-link">Functions</a></li>
  <li class="nav-item"><a href="maps.html" class="nav-link">Maps</a></li>
  <li class="nav-item"><a href="syntax.html" class="nav-link">Syntax</a></li>
  <li class="nav-item"><a href="charts.html" class="nav-link">Charts</a></li>
  <li class="nav-item"><a href="grid.html" class="nav-link">Grid</a></li>
  <li class="nav-item"><a href="media.html" class="nav-link">Media</a></li>
  <li class="nav-item"><a href="tables.html" class="nav-link">Tables</a></li>
  <li class="nav-item"><a href="chat.html" class="nav-link">Chat</a></li>
  <li class="nav-item"><a href="header.html" class="nav-link">Header</a></li>
  <li class="nav-item"><a href="nav.html" class="nav-link">Nav</a></li>
  <li class="nav-item"><a href="tag.html" class="nav-link">Tag</a></li>
</ul>

