<div class="example">
  <div class="alert alert-primary alert-icon">
    <i class="fe fe-bell"></i>
    This is a primary alert
  </div>
  <div class="alert alert-secondary alert-icon">
    <i class="fe fe-bell"></i>
    This is a secondary alert
  </div>
  <div class="alert alert-success alert-icon">
    <i class="fe fe-bell"></i>
    This is a success alert
  </div>
  <div class="alert alert-danger alert-icon">
    <i class="fe fe-bell"></i>
    This is a danger alert
  </div>
  <div class="alert alert-warning alert-icon">
    <i class="fe fe-bell"></i>
    This is a warning alert
  </div>
  <div class="alert alert-info alert-icon">
    <i class="fe fe-bell"></i>
    This is a info alert
  </div>
  <div class="alert alert-light alert-icon">
    <i class="fe fe-bell"></i>
    This is a light alert
  </div>
  <div class="alert alert-dark alert-icon">
    <i class="fe fe-bell"></i>
    This is a dark alert
  </div>
</div>
