<div class="article">
  <p>
    Hello this is an article
  </p>

  <p>
    Article <code>inline code</code>
  </p>

  <pre>
<code>Hello1
hello2
hello3</code>
</pre>

  <h2>Table</h2>

  <table>
    <tbody>
      <tr>
        <th>
          Header 1
        </th>
        <th>
          Header 2
        </th>
        </td>
      <tr>
        <td>
          Item 1
        </td>
        <td>
          Item 2
        </td>
      </tr>
      <tr>
        <td>
          Item 3
        </td>
        <td>
          Item 4
        </td>
      </tr>
    </tbody>
  </table>

</div>