<div class="example">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title"><a href="#">Card Title</a></h5>
      <div class="card-options">
        <a href="#" class="card-options-collapse"><i class="icon"></i></a>
        <a href="#" class="card-options-fullscreen"><i class="icon"></i></a>
        <a href="#" class="card-options-remove"><i class="icon"></i></a>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text">This is some card text. It can hold any content you want.</p>
      <div class="card-list-group">
        <div class="list-group-item">List item 1</div>
        <div class="list-group-item">List item 2</div>
      </div>
    </div>
    <div class="card-footer">
      <a href="#" class="card-link">Card Link</a>
    </div>
  </div>

  <div class="card card-profile">
    <div class="card-header" style="background-image: url('image.jpg')"></div>
    <img src="profile.jpg" alt="Profile Image" class="card-profile-img">
    <div class="card-body">
      <h5 class="card-title">Profile Name</h5>
      <p class="card-text">Profile description...</p>
    </div>
  </div>

  <div class="card card-tabs">
    <div class="card-header-tabs">
      <div class="nav-item active">Tab 1</div>
      <div class="nav-item">Tab 2</div>
    </div>
    <div class="card-body">
      <p>Tab content goes here...</p>
    </div>
  </div>

  <div class="card card-map">
    <div class="card-map-placeholder"></div>
  </div>

  <div class="card card-alert">
    <div class="alert alert-info">This is an alert.</div>
  </div>
</div>
