<div class="example">
	<h1>Chat Component</h1>
	<div class="chat">
		<div class="chat-line">
			<span class="chat-author">Me</span>
			<div class="chat-message">
				<p>Hello</p>
				<p>How are you?</p>
			</div>
		</div>

		<div class="chat-line chat-line-friend">
			<span class="chat-author">Friend</span>
			<div class="chat-message">
				<p>I'm good, thanks.</p>
			</div>
		</div>

		<div class="chat-line">
			<span class="chat-author">Me</span>
			<div class="chat-message">
				<p>What have you done today?</p>
			</div>
		</div>

		<div class="chat-line chat-line-friend">
			<span class="chat-author">Friend</span>
			<div class="chat-message">
				<p>I've done nothing.</p>
			</div>
		</div>
	</div>
</div>

