<div class="example">
  <p>Basic usage</p>
  <div class="chips mb-4">
    <span class="chip">Apple</span>
    <span class="chip">Banana</span>
    <span class="chip">Orange</span>
    <span class="chip">Lemon</span>
    <span class="chip">Grape</span>
  </div>

  <p>Use a tag</p>
  <div class="chips mb-4">
    <a href="#" class="chip">Apple</a>
    <a href="#" class="chip">Banana</a>
    <a href="#" class="chip">Orange</a>
    <a href="#" class="chip">Lemon</a>
    <a href="#" class="chip">Grape</a>
  </div>

  <p>Use img tag</p>
  <div class="chips mb-4">
    <span class="chip">
      <img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm" alt="" class="avatar" />
      Tom
    </span>
    <span class="chip">
      <img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm" alt="" class="avatar" />
      Mike
    </span>
  </div>
</div>
