<div class="example">
  <div class="dropdown">
    <button class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown <span class="dropdown-icon">&#9662;</span>
    </button>
    <div class="dropdown-menu dropdown-menu-arrow">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>
</div>

<div class="example">
  <div class="dropdown">
    <button class="dropdown-toggle btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Right-aligned menu <span class="dropdown-icon">&#9662;</span>
    </button>
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>
</div>

<hr class="my-5">

<p>Use <code>.dropdown-icon</code> to add an icon to the dropdown toggle.</p>

<p>Use <code>.dropdown-menu-arrow</code> to add an arrow to the dropdown menu.</p>

<p>Use <code>.dropdown-menu-right</code> to right-align the dropdown menu.</p>

