<div class="example">
	<div class="example example-column example-column-1">
		<p>Small column (max-width: 20rem)</p>
		<div class="highlight">
			<pre>
&lt;div class=&quot;example example-column example-column-1&quot;&gt;
    &lt;p&gt;Small column (max-width: 20rem)&lt;/p&gt;
&lt;/div&gt;
			</pre>
		</div>
	</div>
	<div class="example example-column example-column-2">
		<p>Medium column (max-width: 40rem)</p>
		<div class="highlight">
			<pre>
&lt;div class=&quot;example example-column example-column-2&quot;&gt;
    &lt;p&gt;Medium column (max-width: 40rem)&lt;/p&gt;
&lt;/div&gt;
			</pre>
		</div>
	</div>
</div>

