<h3 id="icons-list">Icons list</h3>
<p>Add <code class="highlighter-rouge">.icons-list-wrap</code> and <code class="highlighter-rouge">.icons-list</code> to wrap your icons list.</p>
<p><code class="highlighter-rouge">.icons-list-item</code> is used on each item to set the styles.</p>
<div class="icons-list-wrap">
	<ul class="icons-list">
		<li class="icons-list-item"><i class="far fa-alarm-clock"></i></li>
		<li class="icons-list-item"><i class="far fa-arrow-alt-circle-down"></i></li>
		<li class="icons-list-item"><i class="far fa-arrow-alt-circle-left"></i></li>
		<li class="icons-list-item"><i class="far fa-arrow-alt-circle-right"></i></li>
		<li class="icons-list-item"><i class="far fa-arrow-alt-circle-up"></i></li>
		<li class="icons-list-item"><i class="far fa-bell"></i></li>
		<li class="icons-list-item"><i class="far fa-bookmark"></i></li>
		<li class="icons-list-item"><i class="far fa-calendar"></i></li>
		<li class="icons-list-item"><i class="far fa-camera"></i></li>
		<li class="icons-list-item"><i class="far fa-check-circle"></i></li>
		<li class="icons-list-item"><i class="far fa-check-square"></i></li>
	</ul>
	<ul class="icons-list">
		<li class="icons-list-item"><i class="far fa-alarm-clock"></i></li>
		<li class="icons-list-item"><i class="far fa-arrow-alt-circle-down"></i></li>
		<li class="icons-list-item"><i class="far fa-arrow-alt-circle-left"></i></li>
		<li class="icons-list-item"><i class="far fa-arrow-alt-circle-right"></i></li>
		<li class="icons-list-item"><i class="far fa-arrow-alt-circle-up"></i></li>
		<li class="icons-list-item"><i class="far fa-bell"></i></li>
		<li class="icons-list-item"><i class="far fa-bookmark"></i></li>
		<li class="icons-list-item"><i class="far fa-calendar"></i></li>
		<li class="icons-list-item"><i class="far fa-camera"></i></li>
		<li class="icons-list-item"><i class="far fa-check-circle"></i></li>
		<li class="icons-list-item"><i class="far fa-check-square"></i></li>
	</ul>
</div>

