<div class="example">
  <div class="img-gallery">
    <div class="col-md-4">
      <img src="https://picsum.photos/200/300" alt="" class="img-fluid">
      <p>.img-gallery > .col > img</p>
    </div>
    <div class="col-md-4">
      <img src="https://picsum.photos/200/301" alt="" class="img-fluid">
      <p>.img-gallery > .col > img</p>
    </div>
    <div class="col-md-4">
      <img src="https://picsum.photos/200/302" alt="" class="img-fluid">
      <p>.img-gallery > .col > img</p>
    </div>
  </div>
</div>

