<h1>Seafile UI</h1>

<h2>About</h2>

<p>This is a package for developing Seafile UI components.</p>

<h2>Development</h2>

<h3>Initialization</h3>

<pre><code>npm install</code></pre>

<p>Modify sass files</p>

<h3>Build & Test</h3>

<pre><code>Build css: npm build
Start server: npm start</code></pre>

<p>Visit <a href="http://127.0.0.1:4000">127.0.0.1:4000</a>.</p>

<h2>Directory structure</h2>

<ul>
  <li><code>site</code> ------ test project directory</li>
  <li><code>src</code> ------- source code directory</li>
</ul>
