<div class="example">
	<h3 id="link-overlay">Link overlay</h3>
	<p>Wrap your link with <code class="highlighter-rouge">.link-overlay</code> and add a child element with <code class="highlighter-rouge">.link-overlay-bg</code> to get the overlay effect.</p>
	<a href="#" class="link-overlay">
		<span class="link-overlay-bg">Overlay</span>
		<img src="http://placehold.it/200x150" alt="" />
	</a>

	<p>Change the background color by adding a modifier class: <code class="highlighter-rouge">.link-overlay-bg-primary</code>, <code class="highlighter-rouge">.link-overlay-bg-secondary</code>, <code class="highlighter-rouge">.link-overlay-bg-success</code>, <code class="highlighter-rouge">.link-overlay-bg-info</code>, <code class="highlighter-rouge">.link-overlay-bg-warning</code>, <code class="highlighter-rouge">.link-overlay-bg-danger</code>, or <code class="highlighter-rouge">.link-overlay-bg-purple</code>.</p>
	<a href="#" class="link-overlay">
		<span class="link-overlay-bg-primary">Primary</span>
		<img src="http://placehold.it/200x150" alt="" />
	</a>
	<a href="#" class="link-overlay">
		<span class="link-overlay-bg-secondary">Secondary</span>
		<img src="http://placehold.it/200x150" alt="" />
	</a>
	<a href="#" class="link-overlay">
		<span class="link-overlay-bg-success">Success</span>
		<img src="http://placehold.it/200x150" alt="" />
	</a>
	<a href="#" class="link-overlay">
		<span class="link-overlay-bg-info">Info</span>
		<img src="http://placehold.it/200x150" alt="" />
	</a>
	<a href="#" class="link-overlay">
		<span class="link-overlay-bg-warning">Warning</span>
		<img src="http://placehold.it/200x150" alt="" />
	</a>
	<a href="#" class="link-overlay">
		<span class="link-overlay-bg-danger">Danger</span>
		<img src="http://placehold.it/200x150" alt="" />
	</a>
	<a href="#" class="link-overlay">
		<span class="link-overlay-bg-purple">Purple</span>
		<img src="http://placehold.it/200x150" alt="" />
	</a>
</div>

