<div class="example">
	<p><code>.list-group-item</code>: The standard list group item.</p>
	<ul class="list-group">
		<li class="list-group-item">List group item</li>
		<li class="list-group-item active">Active list group item</li>
	</ul>

	<p><code>.list-group-item</code> with <code>.icon</code> inside.</p>
	<ul class="list-group">
		<li class="list-group-item"><i class="icon fe fe-home"></i> List group item</li>
		<li class="list-group-item active"><i class="icon fe fe-home"></i> Active list group item</li>
	</ul>

	<p><code>.list-group-transparent</code>: The transparent list group.</p>
	<ul class="list-group list-group-transparent">
		<li class="list-group-item">List group item</li>
		<li class="list-group-item active">Active list group item</li>
	</ul>

	<p><code>.list-group-transparent</code> with <code>.icon</code> inside.</p>
	<ul class="list-group list-group-transparent">
		<li class="list-group-item"><i class="icon fe fe-home"></i> List group item</li>
		<li class="list-group-item active"><i class="icon fe fe-home"></i> Active list group item</li>
	</ul>
</div>
