<div class="example">
<h3 id="list-inline-dots">List inline dots</h3>
<p>Add <code class="highlighter-rouge">.list-inline-dots</code> and <code class="highlighter-rouge">.list-inline-item</code> to wrap your icons list.</p>
<div class="list-inline-dots">
	<li class="list-inline-item">1</li>
	<li class="list-inline-item">2</li>
	<li class="list-inline-item">3</li>
</div>

<h3 id="list-separated">List separated</h3>
<p>Add <code class="highlighter-rouge">.list-separated</code> and <code class="highlighter-rouge">.list-separated-item</code> to wrap your icons list.</p>
<div class="list-separated">
	<li class="list-separated-item">1</li>
	<li class="list-separated-item">2</li>
	<li class="list-separated-item">3</li>
</div>
</div>

