<div class="example">
    <div class="map">
        <div class="map-content">
            <p class="map-square">.map-square</p>
            <p class="chart-square">.chart-square</p>
        </div>
        <p class="map-static">.map-static</p>
    </div>

    <div class="chart">
        <div class="chart-content">
            <p class="map-square">.map-square</p>
            <p class="chart-square">.chart-square</p>
        </div>
    </div>

    <div class="map-header">
        <div class="map-header-layer">
            <p>.map-header-layer</p>
        </div>
    </div>
</div>

