<div class="example">
<div class="example">
  <h3 id="media-object">Media object</h3>
  <p>Use <code class="highlighter-rouge">.media</code> and <code class="highlighter-rouge">.media-body</code> to create a media object.</p>
  <div class="media">
    <div class="media-icon">
      <i class="far fa-align-center"></i>
    </div>
    <div class="media-body">
      <h5 class="mt-0">Media heading</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, dapibus ac facilisis in, egestas eget quam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    </div>
  </div>
</div>

<div class="example">
  <h3 id="media-list">Media list</h3>
  <p>Use <code class="highlighter-rouge">.media-list</code> to create a list of media objects.</p>
  <ul class="media-list">
    <li class="media">
      <div class="media-icon">
        <i class="far fa-align-center"></i>
      </div>
      <div class="media-body">
        <h5 class="mt-0">Media heading</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, dapibus ac facilisis in, egestas eget quam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      </div>
    </li>
    <li class="media">
      <div class="media-icon">
        <i class="far fa-align-center"></i>
      </div>
      <div class="media-body">
        <h5 class="mt-0">Media heading</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, dapibus ac facilisis in, egestas eget quam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      </div>
    </li>
  </ul>
</div>

