<div class="example">
	<h1>Nav</h1>
	<p>Basic nav:</p>
	<div class="nav">
		<a class="nav-link active" href="#">Active</a>
		<a class="nav-link" href="#">Link</a>
		<a class="nav-link" href="#">Link</a>
	</div>

	<p>Nav with icons:</p>
	<div class="nav">
		<a class="nav-link active" href="#"><i class="fas fa-align-center"></i> Active</a>
		<a class="nav-link" href="#"><i class="fas fa-alarm-clock"></i> Link</a>
		<a class="nav-link" href="#"><i class="fas fa-bold"></i> Link</a>
	</div>

	<p>Nav with dropdown:</p>
	<div class="nav">
		<div class="nav-item">
			<a class="nav-link" href="#">Dropdown</a>
			<div class="nav-submenu">
				<a class="nav-item" href="#">Action</a>
				<a class="nav-item" href="#">Another action</a>
				<a class="nav-item" href="#">Something else here</a>
			</div>
		</div>
		<a class="nav-link active" href="#">Active</a>
		<a class="nav-link" href="#">Link</a>
		<a class="nav-link" href="#">Link</a>
	</div>

	<p>Nav with tabs:</p>
	<div class="nav-tabs">
		<a class="nav-link active" href="#">Active</a>
		<a class="nav-link" href="#">Link</a>
		<a class="nav-link" href="#">Link</a>
	</div>

	<p>Nav with pills:</p>
	<div class="nav-pills">
		<a class="nav-link active" href="#">Active</a>
		<a class="nav-link" href="#">Link</a>
		<a class="nav-link" href="#">Link</a>
	</div>
</div>

