<h2>Syntax Highlighting</h2>

<p>
  The following are the supported syntax highlighting classes.
</p>

<div class="highlight">
  <p class="hll">Highlighted text with a background color</p>
  <p class="c">Comment text</p>
  <p class="k">Keyword text</p>
  <p class="o">Operator text</p>
  <p class="cm">Comment text</p>
  <p class="cp">Preprocessor text</p>
  <p class="c1">Comment text</p>
  <p class="cs">Special comment text</p>
  <p class="gd">Deleted text</p>
  <p class="ge">Emphasized text</p>
  <p class="gr">Error text</p>
  <p class="gh">Header text</p>
  <p class="gi">Inserted text</p>
  <p class="go">Output text</p>
  <p class="gp">Prompt text</p>
  <p class="gu">Uninterpreted text</p>
  <p class="gt">Traceback text</p>
  <p class="kc">Keyword constant text</p>
  <p class="kd">Keyword declaration text</p>
  <p class="kn">Keyword namespace text</p>
  <p class="kp">Keyword pseudo text</p>
  <p class="kr">Keyword reserved text</p>
  <p class="kt">Keyword type text</p>
  <p class="m">Literal number</p>
  <p class="s">Literal string</p>
  <p class="na">Name attribute</p>
  <p class="nb">Name built-in</p>
  <p class="nc">Name class</p>
  <p class="no">Name constant</p>
  <p class="nd">Name decorator</p>
  <p class="ni">Name entity</p>
  <p class="ne">Name exception</p>
  <p class="nf">Name function</p>
  <p class="nl">Name label</p>
  <p class="nn">Name namespace</p>
  <p class="nt">Name tag</p>
  <p class="nv">Name variable</p>
  <p class="ow">Operator word</p>
  <p class="w">Whitespace text</p>
  <p class="mf">Literal number float</p>
  <p class="mh">Literal number hex</p>
  <p class="mi">Literal number integer</p>
  <p class="mo">Literal number octal</p>
  <p class="sb">String backtick</p>
  <p class="sc">String char</p>
  <p class="sd">String doc</p>
  <p class="s2">String double</p>
  <p class="se">String escape</p>
  <p class="sh">String heredoc</p>
  <p class="si">String interpol</p>
  <p class="sx">String regex</p>
  <p class="sr">String symbol</p>
  <p class="s1">String single</p>
  <p class="ss">String special</p>
  <p class="bp">Base prompt</p>
  <p class="vc">Variable class</p>
  <p class="vg">Variable global</p>
  <p class="vi">Variable instance</p>
  <p class="il">Literal number integer long</p>
  <p class="css">CSS text</p>
  <p class="language-bash">Bash language text</p>
  <p class="language-sh">Shell language text</p>
  <p class="language-powershell">Powershell language text</p>
</div>
