<div class="example">
	<h2>Tag</h2>
	<p>Use <code>.tag</code> to create a tag.</p>
	<div class="example">
		<span class="tag">.tag</span>
	</div>

	<h2>Tag with addon</h2>
	<p>Use <code>.tag-addon</code> to create a tag with an addon.</p>
	<div class="example">
		<span class="tag">
			<span class="tag-addon"><i class="fas fa-user"></i></span>username
		</span>
	</div>

	<h2>Tag with avatar</h2>
	<p>Use <code>.tag-avatar</code> to create a tag with an avatar.</p>
	<div class="example">
		<span class="tag">
			<img src="https://avatars1.githubusercontent.com/u/139426?v=4" class="tag-avatar" alt="avatar">username
		</span>
	</div>

	<h2>Colors</h2>
	<p>Use <code>.tag-{color}</code> to create a tag with a color.</p>
	<div class="example">
		<span class="tag tag-primary">.tag-primary</span>
		<span class="tag tag-secondary">.tag-secondary</span>
		<span class="tag tag-success">.tag-success</span>
		<span class="tag tag-info">.tag-info</span>
		<span class="tag tag-warning">.tag-warning</span>
		<span class="tag tag-danger">.tag-danger</span>
	</div>

	<h2>Rounded</h2>
	<p>Use <code>.tag-rounded</code> to create a rounded tag.</p>
	<div class="example">
		<span class="tag tag-rounded">.tag-rounded</span>
	</div>

	<h2>Group</h2>
	<p>Use <code>.tags</code> to create a group of tags.</p>
	<div class="example">
		<div class="tags">
			<span class="tag">.tag</span>
			<span class="tag">.tag</span>
			<span class="tag">.tag</span>
		</div>
	</div>
</div>

