<div class="example">
  <div class="display-1">
    <p><i>Display 1 Text</i></p>
  </div>
  <div class="display-2">
    <p><i>Display 2 Text</i></p>
  </div>
  <div class="display-3">
    <p><i>Display 3 Text</i></p>
  </div>
  <div class="display-4">
    <p><i>Display 4 Text</i></p>
  </div>

  <p class="text-inherit">This text inherits color.</p>
  <p class="text-default">This text has default color.</p>
  <p class="text-muted-dark">This text is dark-muted.</p>

  <p class="tracking-tight">This text has tight letter spacing.</p>
  <p class="tracking-normal">This text has normal letter spacing.</p>
  <p class="tracking-wide">This text has wide letter spacing.</p>

  <p class="leading-none">This text has no line height.</p>
  <p class="leading-tight">This text has tight line height.</p>
  <p class="leading-normal">This text has normal line height.</p>
  <p class="leading-loose">This text has loose line height.</p>
</div>
