<div class="example">
	<h3>Basic</h3>
	<ul class="timeline">
		<li class="timeline-item">
			<span class="timeline-badge"></span>
			<span class="timeline-time">2016-12-15 14:30</span>
			<p>Basic item</p>
		</li>
		<li class="timeline-item">
			<span class="timeline-badge"></span>
			<span class="timeline-time">2016-12-15 14:30</span>
			<p>Basic item</p>
		</li>
	</ul>

	<h3>First and last item</h3>
	<ul class="timeline">
		<li class="timeline-item timeline-first-item">
			<span class="timeline-badge"></span>
			<span class="timeline-time">2016-12-15 14:30</span>
			<p>First item</p>
		</li>
		<li class="timeline-item">
			<span class="timeline-badge"></span>
			<span class="timeline-time">2016-12-15 14:30</span>
			<p>Basic item</p>
		</li>
		<li class="timeline-item timeline-last-item">
			<span class="timeline-badge"></span>
			<span class="timeline-time">2016-12-15 14:30</span>
			<p>Last item</p>
		</li>
	</ul>

	<h3>Multi lines</h3>
	<ul class="timeline">
		<li class="timeline-item">
			<span class="timeline-badge"></span>
			<span class="timeline-time">2016-12-15 14:30</span>
			<p>Basic item<br>with multiple lines</p>
		</li>
	</ul>

	<h3>Custom badge</h3>
	<ul class="timeline">
		<li class="timeline-item">
			<span class="timeline-badge" style="background-color: #f0ad4e;"></span>
			<span class="timeline-time">2016-12-15 14:30</span>
			<p>Custom badge</p>
		</li>
	</ul>

	<h3>Custom timeline time</h3>
	<ul class="timeline">
		<li class="timeline-item">
			<span class="timeline-badge"></span>
			<span class="timeline-time" style="color: #f0ad4e;">2016-12-15 14:30</span>
			<p>Custom timeline time</p>
		</li>
	</ul>
</div>

