<div class="example">
  <div class="lead">
    <p>Line-height of 1.4</p>
  </div>

  <a href="#" class="link">Link with text-decoration-skip and color</a>

  <h1 class="heading">Heading</h1>
  <h2 class="heading">Heading</h2>
  <h3 class="heading">Heading</h3>

  <strong class="bold-text">Bold text with font-weight 600</strong>
  <b class="bold-text">Bold text with font-weight 600</b>

  <p class="paragraph">Paragraph with margin-bottom 1em</p>
  <ul class="unordered-list">
    <li>List item with margin-bottom 1em</li>
  </ul>
  <ol class="ordered-list">
    <li>List item with margin-bottom 1em</li>
  </ol>

  <blockquote class="blockquote">
    <p>Blockquote with italic style and some padding</p>
    <cite>Citation with text-align right</cite>
  </blockquote>

  <code class="code-snippet">Inline code with background and border</code>
  <pre class="code-block"><code>Preformatted code block</code></pre>

  <hr class="horizontal-rule">

  <pre class="preformatted-text">Preformatted text with specific styles</pre>

  <img src="#" alt="Image" class="responsive-image">

  <div class="text-wrap">
    <p>Text with specific font-size and line-height</p>
    <div class="content">
      <h1>Content heading with margin</h1>
    </div>
    <table class="table">
      <tr>
        <td>Table with borders</td>
      </tr>
    </table>
  </div>

  <ul class="section-nav">
    <li>Navigation with background and border</li>
  </ul>
</div>

