<div class="example">
	<h2>Background color</h2>
	<p>Use any of the following classes to change the background color of an element.</p>
	<div class="example">
		<div class="bg-primary p-3">.bg-primary</div>
		<div class="bg-secondary p-3">.bg-secondary</div>
		<div class="bg-success p-3">.bg-success</div>
		<div class="bg-info p-3">.bg-info</div>
		<div class="bg-warning p-3">.bg-warning</div>
		<div class="bg-danger p-3">.bg-danger</div>
		<div class="bg-light p-3">.bg-light</div>
		<div class="bg-dark p-3">.bg-dark</div>
	</div>

	<h2>Text color</h2>
	<p>Use any of the following classes to change the text color of an element.</p>
	<div class="example">
		<div class="text-primary p-3">.text-primary</div>
		<div class="text-secondary p-3">.text-secondary</div>
		<div class="text-success p-3">.text-success</div>
		<div class="text-info p-3">.text-info</div>
		<div class="text-warning p-3">.text-warning</div>
		<div class="text-danger p-3">.text-danger</div>
		<div class="text-light p-3">.text-light</div>
		<div class="text-dark p-3">.text-dark</div>
	</div>

	<h2>Icon</h2>
	<p>Use any of the following classes to change the icon color of an element.</p>
	<div class="example">
		<a href="#" class="icon"><i class="far fa-alarm-clock"></i></a>
		<a href="#" class="icon"><i class="far fa-arrow-alt-circle-down"></i></a>
		<a href="#" class="icon"><i class="far fa-arrow-alt-circle-left"></i></a>
		<a href="#" class="icon"><i class="far fa-arrow-alt-circle-right"></i></a>
		<a href="#" class="icon"><i class="far fa-arrow-alt-circle-up"></i></a>
		<a href="#" class="icon"><i class="far fa-bell"></i></a>
		<a href="#" class="icon"><i class="far fa-bookmark"></i></a>
		<a href="#" class="icon"><i class="far fa-calendar"></i></a>
		<a href="#" class="icon"><i class="far fa-camera"></i></a>
		<a href="#" class="icon"><i class="far fa-check-circle"></i></a>
		<a href="#" class="icon"><i class="far fa-check-square"></i></a>
		<a href="#" class="icon"><i class="far fa-chevron-circle-down"></i></a>
		<a href="#" class="icon"><i class="far fa-chevron-circle-left"></i></a>
		<a href="#" class="icon"><i class="far fa-chevron-circle-right"></i></a>
		<a href="#" class="icon"><i class="far fa-chevron-circle-up"></i></a>
	</div>

	<h2>Overflow</h2>
	<p>Use any of the following classes to change the overflow property of an element.</p>
	<div class="example">
		<div class="o-auto p-3">.o-auto</div>
		<div class="o-hidden p-3">.o-hidden</div>
	</div>

	<h2>Shadow</h2>
	<p>Use any of the following classes to change the box shadow property of an element.</p>
	<div class="example">
		<div class="shadow p-3">.shadow</div>
		<div class="shadow-none p-3">.shadow-none</div>
	</div>
</div>

