.dropdown {
	display: inline-block;
}

.dropdown-menu {
	max-width: 240px;
	max-height: 600px;
	box-shadow: var(--bs-dropdown-box-shadow);
}

.dropdown-item {
	height: 32px;
	display: flex;
	align-items: center;
	line-height: 1.5;
	font-size: .875rem;
	border-radius: 4px;
}

.dropdown-item-text {
	padding: 0;
}

.dropdown-menu-arrow {
	&:before {
		position: absolute;
		top: -6px;
		left: 12px;
		display: inline-block;
		border-right: 5px solid transparent;
		border-bottom: 5px solid $border-color;
		border-left: 5px solid transparent;
		border-bottom-color: var(--bs-border-color);
		content: '';
	}

	&:after {
		position: absolute;
		top: -5px;
		left: 12px;
		display: inline-block;
		border-right: 5px solid transparent;
		border-bottom: 5px solid var(--bs-popover-bg, #fff);
		border-left: 5px solid transparent;
		content: '';
	}

	&.dropdown-menu-right {
		&:before,
		&:after {
			left: auto;
			right: 12px;
		}
	}
}

.dropdown-toggle {
	user-select: none;
	cursor: pointer;

	&:after {
		vertical-align: 0.155em;
	}

	&:empty:after {
		margin-left: 0;
	}
}

.dropdown-icon {
	color: $text-muted;
	margin-right: .5rem;
	margin-left: -.5rem;
	width: 1em;
	display: inline-block;
	text-align: center;
	vertical-align: -1px;
}
