.sf-select {
	background: transparent;
	color: var(--bs-form-select-color);
	border: 1px solid var(--bs-form-select-border-color);
	border-radius: 4px;
	font-size: .875rem;
	background-image: none;

	position: relative;
	display: flex;
	padding: 0 16px;
	max-width: 900px;
	user-select: none;

	&:focus,
	&.focus {
		border-color: var(--bs-form-select-focus-border-color);
	}

	&:hover {
		cursor: pointer;
	}

	.sf-select-arrow {
		width: 12px;
		height: 12px;
		color: var(--bs-icon-color);
	}
}

.sf-option-group {
	position: absolute;
	background: var(--bs-popover-bg);
	border: 1px solid var(--bs-border-secondary-color);
	border-radius: 4px;
	box-shadow: var(--bs-popover-box-shadow);
}

.sf-select-option {
	color: var(--bs-body-color);
	border-radius: 4px;

	&:hover,
	&.sf-select-option-active {
		background-color: var(--bs-dropdown-link-hover-bg);
		cursor: pointer;
	}
}
