$body-color-dark: rgba($white, .9);
$body-secondary-color-dark: rgba($white, .5);
$body-bg-dark: rgba(09, 09, 09, 1);
$body-secondary-bg-dark: rgba(255, 255, 255, .1);
$body-bg-rgb-dark: 33, 37, 41;

$emphasis-color-dark: #fff;
$emphasis-color-rgb-dark: 255, 255, 255;
$secondary-color-dark: #dbdbdb;
$secondary-color-rgb-dark: 222, 226, 230;
$secondary-bg-dark: #343a40;
$secondary-bg-rgb-dark: 52, 58, 64;
$tertiary-color-dark: rgba(222,  226,  230,  0.5);
$tertiary-color-rgb-dark: 222, 226, 230;

$primary-text-emphasis-dark: #6ea8fe;
$secondary-text-emphasis-dark: #a7acb1;
$success-text-emphasis-dark: #75b798;
$info-text-emphasis-dark: #6edff6;
$warning-text-emphasis-dark: #ffda6a;
$danger-text-emphasis-dark: #ea868f;
$light-text-emphasis-dark: #f8f9fa;
$dark-text-emphasis-dark: #dee2e6;

$primary-bg-subtle-dark: #031633;
$secondary-bg-subtle-dark: #161719;
$success-bg-subtle-dark: #051b11;
$info-bg-subtle-dark: #032830;
$warning-bg-subtle-dark: #332701;
$danger-bg-subtle-dark: #2c0b0e;
$light-bg-subtle-dark: #343a40;
$dark-bg-subtle-dark: #1a1d20;

$primary-border-subtle-dark: #084298;
$secondary-border-subtle-dark: #41464b;
$success-border-subtle-dark: #0f5132;
$info-border-subtle-dark: #087990;
$warning-border-subtle-dark: #997404;
$danger-border-subtle-dark: #842029;
$light-border-subtle-dark: #495057;
$dark-border-subtle-dark: #343a40;

$heading-color-dark: inherit;
$link-color-dark: #6ea8fe;
$link-hover-color-dark: #8bb9fe;
$link-color-rgb-dark: 110, 168, 254;
$link-hover-color-rgb-dark: 139, 185, 254;
$code-color-dark: #e685b5;
$highlight-color-dark: #dee2e6;
$highlight-bg-dark: #664d03;

$border-color-dark: rgba($white, .1);
$border-secondary-color-dark: rgba($white, .1);
$border-tertiary-color-dark: rgba(51, 52, 53, 1);

$form-valid-color-dark: #75b798;
$form-valid-border-color-dark: #75b798;
$form-invalid-color-dark: #ea868f;
$form-invalid-border-color-dark: #ea868f;

$header-bg-dark: rgba(19, 19, 19, 1);
$header-secondary-bg-dark: #343a40;
$header-tertiary-bg-dark: #343a40;
$toolbar-bg-dark: #343a40;
$toolbar-secondary-bg-dark: #343a40;
$nav-hover-bg-dark: rgba(255, 255, 255, 0.1);
$nav-active-bg-dark: rgba(255, 255, 255, 0.08);
$wiki-nav-hover-bg-dark: #343a40;
$wiki-nav-active-bg-dark: #495057;
$th-bg-dark: rgba(19, 19, 19, 1);
$th-secondary-bg-dark: rgba(19, 19, 19, 1);
$th-tertiary-bg-dark: rgba(19, 19, 19, 1);
$th-quartus-bg-dark: rgba(19, 19, 19, 1);
$th-fifth-bg-dark: #343a40;
$tr-hover-bg-dark: rgba(255, 255, 255, 0.08);
$tr-active-bg-dark: rgba(255, 255, 255, .12);
$tr-active-secondary-bg-dark: rgba(255, 255, 255, .12);
$td-border-color-dark: rgba($white, .1);
$icon-color-dark: rgba(255, 255, 255, 0.7);
$icon-secondary-color-dark: rgba(255, 255, 255, 0.7);
$icon-rgb-dark: rgba(255, 255, 255, 0.5);
$icon-hover-rgb-dark: rgba(255, 255, 255, 1);
$icon-hover-color-dark: #fff;

$hover-bg-dark:rgba(255, 255, 255, 0.1);
$hover-secondary-bg-dark: rgba(255, 255, 255, 0.1);
$hover-tertiary-bg-dark: rgba(255, 255, 255, 0.1);

$bg-color-dark: rgba(255, 255, 255, 0.08);
$bg-secondary-color-dark: rgba(255, 255, 255, 0.08);

$dropdown-link-color-dark: #dee2e6;
$dropdown-link-bg-dark: #343a40;
$dropdown-secondary-bg-dark: #343a40;
$dropdown-tertiary-bg-dark: #343a40;

$popover-bg-dark: rgba(28, 29, 31, 1);
$placeholder-color-dark: rgba($white,.5);
